* {
  padding: 0;
  margin: 0;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
	width: 1280px;
}

header {
	width: 100%;
	margin: 0 auto;
}

h1 {
	color: yellow;
	font-family: "Merriweather", serif;
	font-size: 30px;
	float: left;
	padding-top: 20px;
	padding-left: 20px;
}

h2 {
	font-size: 30px;
	font-weight: bold;
}

h3 {
	font-family: "Merriweather", serif;
	font-size: 25px;
}

nav a {
	color: white;
	float: right;
	text-decoration: none;
	padding-right: 20px;
	padding-top: 35px;
	display: inline-block;
}

section {
	background-color: white;
	width: 1280px;
	height: 300px;
}

article {
	float:left;
	width: 350px;
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 10px;
}

article p {
	padding-top: 20px;
	padding-bottom: 20px;
	line-height: 1.75em;
}

button {
	padding-left: 80px;
	padding-right: 80px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #C6C6C6;
	font-family: "Oswald";
	border-radius: 5px;
	box-shadow: 0; 
	font-size: 20px;

}

footer {
	background-color: black;
	color: white;
	width: 100%;
	height: 70px;
}

footer p {
	padding-top: 25px;
	padding-left: 20px;
}

span {
	color: grey;
}

u {
	text-decoration: underline;
}

.border {
	border-left: solid;
	border-right: solid;
	border-color: #C6C6C6;
	height: 200px;
}

#overlay {
	width: 450px;
	height: 300px;
	float: right;
	border-style: none;
	background-color: white;
	opacity: 0.8;
	margin-right: 30px;
	margin-top: 30px;
}

#overlay button {
	background-color: yellow;
	width: 350px;
	opacity: 1;
}

#grey {
	text-align: center;
	font-family: "Merriweather", serif;
	font-size: 25px;
	background: #C6C6C6;
	width: 1280px;
	display: block;
	height: 60px;
}

#grey p {
	padding-top: 15px;
	font-style: italic;
}

#title {
	background-color: black;
	width: 1280px;
	padding-bottom: 70px;
	border-bottom: 5px yellow solid;
	display: block;
}

#hero {
  height: 500px;
  width: 1280px;
  background: url("../images/coworking.jpg") center no-repeat;
  background-size: cover;
  clear: both;
}