* {
  padding: 0;
  margin: 0;
}

body {
	font-family: "Source Sans Pro", Sans-serif;
}

/*++++++++++++++++++++++
HEADER AND TAGLINE
++++++++++++++++++++++*/

header {
	background-color: black;
	height: 40px;
	padding: 10px 20px;
	border-bottom: 4px yellow solid;
	box-shadow: 0px 1px 3px #BEBEBE;
}

h1 {
	color: yellow;
	font-family: "Merriweather", serif;
	font-size: 30px;
	float: left;
}

header a {
	float: right;
	color: white;
	text-decoration: none;
	margin: 10px 10px;
}

#tagline {
	height: 35px;
	padding: 15px;
	font-family: "Merriweather", serif;
	font-size: 25px;
	font-style: italic;
	text-align: center;
	background-color: #C6C6C6;
	box-shadow: 0px 1px 3px #BEBEBE;
}

#taste {
	color: #A9A9A9;
	text-decoration: line-through;
}

#are {
	border-bottom: 4px yellow solid;
}


/*++++++++++++++++++++++*/
/*PHOTO AND BOX*/
/*++++++++++++++++++++++*/

#photo {
	background-image: url("../images/coworking.jpg");
	width: 100%;
	height: 400px;
}

#cta {
	width: 400px;
	background-color: rgba(255,255,255,.7);
	float: right;
	margin: 40px 0;
	padding: 40px;
	box-shadow: -1px 1px 5px #BEBEBE;
}

#cta p {
	font-size: 18px;
}

#cta button {
	background-color: yellow;
	width: 400px;
	border-radius: 5px;
	padding: 10px;
	font-family: "Oswald";
	text-transform: uppercase;
	font-size: 18px;
	margin: 10px 0;
	box-shadow: 0px 1px 3px #505050;
	border: none;
}

/*++++++++++++++++++++++*/
/*MAIN*/
/*++++++++++++++++++++++*/


#main {
	background-color: #E8E8E8;
	height: 250px;
}

.main_column {
	float: left;
	width: 280px;
	padding: 20px;
	border-right: 1px, #C6C6C6, solid;
}

.main_column button {
	background-color: #C6C6C6;
	width: 280px;
	border-radius: 5px;
	padding: 10px;
	font-family: "Oswald";
	text-transform: uppercase;
	font-size: 18px;
	margin: 10px 0;
	box-shadow: 0px 1px 3px #505050;
	border: none;
}

.main_column h3 {
	font-family: "Merriweather", serif;
	font-size: 25px;
}

/*++++++++++++++++++++++*/
/*FOOTER*/
/*++++++++++++++++++++++*/

footer {
	background-color: black;
	color: white;
	height: 40px;
	padding: 20px 20px;
}